body {
  background-color: #fcf8e8;
  margin:2em auto;
  max-width:40em;
  padding:0 .62em;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  color: #393e46;
  line-height: 1.4em;
}

a {
  text-decoration: none;
  color: #393e46;
  line-height: 1.2em;
}

a:hover {
   color: #f86909;
   text-decoration: none;
  }

@media print {
  body{
    max-width:none
  }
}
